{% extends 'base.html' %}

{% block content %}
  <h1>{{ author.name }}</h1>

  <p>Date of birth: {{ author.birth_date }}</p>

  <h2>Books</h2>
  <ul>
    {% for book in author.book_set.all %}
        <li><a href="{% url 'book_detail' book.pk %}">{{ book.name }}</a></li>
    {% empty %}
        <li>No books found.</li>
    {% endfor %}
</ul>

  <a href="{% url 'author_edit' pk=author.pk %}">Edit</a>
  <form action="{% url 'author_delete' pk=author.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">Delete</button>
  </form>
{% endblock %}
